<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyblock Api</title>
</head>

<body>
    <h1>Skyblock Api</h1>

    <form action="/profile" method="GET">
        <input type="text" name="name">
        <input type="submit">
    </form>
</body>

</html>